<%= month_calendar events: global_meetings do |date, meetings| %>
  <%= date %><br />
  <% meetings.each do |meeting| %>
    <a class="badge badge-success" href="javascript:void(0)" title="<%= long_meeting_title(meeting) %>">
      <%= short_meeting_title(meeting) %>
    </a>
  <% end %>
<% end %>
