<% if resource.errors.any? %>
  <div class="row mb-4">
    <div class="col-md-12">
      <h5>
        <%= I18n.t("errors.messages.not_saved",
                  count: resource.errors.count,
                  resource: resource.class.model_name.human.downcase)
        %>
      </h5>
      <% resource.errors.full_messages.each do |message| %>
        <div class="badge badge-secondary"><%= message %></div>
      <% end %>
    </div>
  </div>
<% end %>
