<div class="card mb-2 bg-light" id="room-<%= room.id %>">
  <div class="card-body">
    <h4 class="card-title text-muted">
      <%= room.title %>
      <small>-- <%=time_ago_in_words room.created_at %>: <%= room.meetings.count %> meetings</small>
    </h4>
    <p class="card-text lead">
      <!-- <button data-reflex="click->Rooms#edit" data-room-id="<%= room.id %>" class="btn btn-secondary">Edit</button> -->
      <%= link_to 'Edit', edit_room_path(room), class: "btn btn-secondary" %>
      <%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
    </p>
  </div>
</div>
