<!DOCTYPE html>
<html>

<head>
  <title>Simple Meetings</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
  <div class="container h-100">
    <div class="row mt-4 justify-content-center align-items-center">
      <div class="col-12">
        <h2 id="application_title">Simple Meetings <small><%="Hello #{current_user.email}" if user_signed_in?%></small></h2>
        <div class="btn-group mt-2" role="group" aria-label="Application Actions">
          <%= link_to "Dashboard/Create Meeting", root_path, class:"btn btn-primary" %>
          <%= link_to "Create Room", rooms_path, class:"btn btn-secondary" %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class:"btn btn-secondary" if user_signed_in? %>
        </div>
        <hr />
      </div>
    </div>
    <%= yield %>
  </div>
</body>

</html>
